.p-plan-page .loader-wrapper > img{
    width: 300px;
}

.p-plan-page .loader-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}