#workout-complete-modal > .modal-content > .modal-footer {
    border: none;
    padding: 20px;
}

#workout-complete-modal > .modal-content > .modal-header {
    align-self: center;
    border: none;
}

#workout-complete-modal .modal-body {
    text-align: center;
}

#workout-complete-modal .modal-body > img {
    margin-bottom: 30px;
}

#workout-complete-modal > .modal-content {
    width: 420px;
}

#workout-complete-modal .modal-footer button{
    width: 100%;
    margin: 0;
}

#workout-complete-modal .name-input {
    display: flex;
    padding: 0 20px 20px 20px;
}

#workout-complete-modal .name-input > input {
    width: 100%;
    padding: 3px;
}

#workout-complete-modal .name-input > button {
    font-size: 17px;
    margin: 0 0 0 10px;
    padding: 2px 7px;
}