#workout-complete-modal .modal-header,
#workout-complete-modal .modal-footer {
    align-self: center;
    border: none !important;
}

#workout-complete-modal .modal-body {
    text-align: center;
}
#workout-complete-modal .modal-body > img {
    margin-bottom: 30px;
}

#workout-complete-modal .modal-content {
    width: 420px !important;
}