.c-fitness-navbar .navbar,
.c-fitness-navbar .dropdown-item {
    font-weight: 400;
}

.c-fitness-navbar .navbar-brand {
    font-weight: 600;
}

.c-fitness-navbar .navbar-brand > img {
    width: 30px;
    margin: 0 7px 3px 0;
}

.c-fitness-navbar .dropdown-menu {
    border: none;
    box-shadow: 0 3px 15px #eee;
}

.c-fitness-navbar .dropdown-item:hover {
    background: none;
}

.navbar-light .navbar-nav .nav-link, .red-link:hover {
    color: #333;
}

.navbar-light .navbar-nav .nav-link:hover,
.c-fitness-navbar .dropdown-item:hover,
.red-link {
    color: #fb7840;
}
