.c-fitness-navbar .navbar,
.c-fitness-navbar .dropdown-item {
    font-weight: 400;
}

.c-fitness-navbar .navbar-brand > img {
    width: 30px;
    margin: 0 7px 3px 0;
}

.c-fitness-navbar .dropdown-menu {
    top: 120%;
    border: none;
    border-radius: 0;
    box-shadow: 0 3px 15px #777;
}

.c-fitness-navbar .dropdown-item:hover {
    background: none;
}

.navbar-light .navbar-nav .nav-link, .navbar .red-text:hover {
    color: #333;
}

.navbar-light .navbar-nav .nav-link:hover,
.c-fitness-navbar .dropdown-item:hover {
    color: #fa7470;
}
