[id^="area-"] {
    position: absolute;
    left: 0;
    width: 600px;
    /* z-index: 2; */
}

.c-muscle-selector > div {
    position: absolute !important;
}

.c-muscle-selector > div > img {
    position: relative;
    top: 0;
    left: 0;
    opacity: 0.5;
}