.p-customize .level-wrapper {
    display: flex;
    align-items: center;
    margin: 10px 0 30px 0;
}

.p-customize .logo-sm {
    width: 30px;
}

.p-customize .logo-md {
    width: 50px;
}

.p-customize .logo-lg {
    width: 70px;
}

.p-customize [class^="logo"] {
    margin-right: 15px;
}

.p-customize [class^="logo"]:hover {
    cursor: pointer;
}

.p-customize .time-wrapper {
    margin-bottom: 30px;
}

.p-customize .muscles-wrapper > p,
.p-customize .time-wrapper > h4 {
    margin-bottom: 10px;
}

.p-customize .time-format {
    font-size: small;
    margin-left: 10px;
}

.p-customize .left-col {
    padding: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 600px;
}

@media (max-width: 768px) {
    .p-customize .left-col {
        align-items: center;
        height: fit-content;
    }
}

.p-customize #red-btn {
    margin-top: auto;
}

.p-customize .muscle-selector-wrapper {
    height: 600px;
    position: relative;
}

