.p-player-page .timer-wrapper .timer {
    font-weight: bold;
}

.p-player-page .timer-wrapper .value {
    font-size: x-large;
}

.p-player-page .player-dashboard {
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.p-player-page .player-info {
    text-align: left;
    font-size: larger;
}

.p-player-page .player-buttons > svg {
    margin: 10px 10px 0 0;
    cursor: pointer;
}

.p-player-page .player-buttons > svg.icon-disabled {
    color: #777;
    cursor: unset;
}

.p-player-page .exercise-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.p-player-page .exercise-image-wrapper > img {
    width: 300px;
}

.p-player-page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
}