.p-player-page .timer-wrapper .timer {
    font-weight: bold;
}

.p-player-page .timer-wrapper .value {
    font-size: x-large;
}

.p-player-page .player-dashboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.p-player-page .player-info {
    text-align: left;
    font-size: larger;
}

.p-player-page .player-buttons > svg {
    margin: 10px 10px 0 0;
    cursor: pointer;
}