#login-required-modal .modal-content {
    padding: 0 10px;
}

#login-required-modal .modal-footer > button,
#login-required-modal .modal-footer > a {
    font-size: 18px !important;
    padding: 8px 15px !important;
}