.c-exercise-card .card {
    height: 420px;
    box-shadow: 1px 1px 7px 2px #ccc;
    padding: 20px;
    margin: 7px;
}

.c-exercise-card .card .card-img-top {
    height: 300px;
    object-fit: contain;
}

.c-exercise-card .card .card-title {
    font-weight: 600 !important;
}