@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.red-text {
  color: #fa7470;
}

#red-btn {
  background-color: #fa7470;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  font-size: 1.25rem;
}

#red-btn:hover {
  text-decoration: none;
  background-color: #df6763;
  color: #fff;
}

.bold-text {
  font-weight: 600;
}

.bg-img { 
  width: 100%;
}
