@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.red-text, .red-link {
  color: #fa7470;
}

.red-link:hover {
  color: #df6763;
  text-decoration: none;
  cursor: pointer;
}

#red-btn {
  background-color: #fa7470;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  font-size: 1.25rem;
  margin: 15px 0;
}

#red-btn:hover {
  text-decoration: none;
  background-color: #df6763;
  color: #fff;
}

.bold-text {
  font-weight: 600;
}

.bg-img { 
  width: 100%;
}

.error-wrapper {
  display: flex;
  margin-top: 15px;
}

.error-msg {
  color: #fd4d47;
  font-size: smaller;
  margin: 0;
}

.error-icon {
  color: white;
  background-color: #fd4d47;
  font-size: x-small;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  margin: 3px 4px 0 0;
  font-weight: bolder;
}